# Alternative installation using pip instead of uv.
fastapi==0.142.2
uvicorn==0.54.0
spacy==3.8.16
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl
